.LoginPage-login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a202c;
  }
  
  .LoginPage-login-form {
    background: #2d3748;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .LoginPage-title {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .LoginPagebutton-login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #4a5568;
    color: white;
  }
  
  .LoginPagebutton-login-container button {
    width: 100%;
    padding: 10px;
    background: #4299e1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .LoginPage-switch-auth {
    margin-top: 10px;
    color: #a0aec0;
  }
  
  .LoginPage-switch-auth a {
    color: #63b3ed;
  }
  