.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0 10px; /* Small padding to prevent overflow */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  
  .view-container button {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    transition: background-color 0.3s ease;
  }
  
  .view-container button:hover {
    background-color: #1e40af;
  }
  
  .view-container img {
    width: 100%;  /* Ensure it takes full width */
    max-width: 700; /* Prevents overflow beyond the viewport */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  